.tab_content {
  margin: 175px 20px 50px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  display: inline-block;
  padding: 20px;
  background-color: #f5f5f5;
  /* 선택 안된 배경색 */
  color: #999;
  /* 선택 안된 글자색 */
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

/* 체크 되어있는 글자색과 배경색 (덮어씌우기) */
input[type="radio"]:checked+label {
  background: #999;
  color: #000;
}

.conbox {
  margin-top: -10px;
  height: auto;
  width: 80vw;
  background: #999;
  display: none;
  /* font-size: 12px; */
  padding: 20px;
  position: relative;
}

input[id="tab01"]:checked~.con1 {
  display: block;
}

input[id="tab02"]:checked~.con2 {
  display: block;
}

/* ------------------탭박스 끝---------------------- */

.plan_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding : 10px 30px;
}

.plan_item {
  display: flex;
  width: 48%;
  padding: 10px;
  margin: 20px 0;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
}

.thumbs_img {
  /* 이미지 썸네일크기에 맞게 채우기 */
  max-width: 100%;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.plan_detail {
  width: 100%;
  /* padding: 10px; */
  margin: 10px;
}

.dday {
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 5px;
}

.detail_top {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.detail_center {
  margin: 20px;
}

.detail_bottom {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}