/* *{outline: 1px solid red;} */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 3px #000;
  z-index: 20;
}

.header_wrapper {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header_start {
  height: 85px;
  width: 350px;
  line-height: 85px;
}

.title_name {
  font-size: 2em;
}

.nav>a, .nav>li>a {
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav>a:hover, .nav>li>a:hover {
  color: rgb(26, 100, 164);
}

/* ------ dropdown --------- */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  display: block;
}
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #ddd;
}