.tab_content {
  margin: 115px 20px 50px 20px;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
}

.conbox {
  margin-top: -15px;
  /* height : 680px 게시판 10개 맞춤 */
  /* height: 680px; */
  width: 100%;
  background-color: #7992BC;
  /* display: flex; */
  justify-content: center;
  
  /* font-size: 12px; */
  position: relative;
  border-radius: 10px;
  gap: 10px;
}



input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  /* 선택 안된 배경색 */
  color: #999;
  /* 선택 안된 글자색 */
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

/* 체크 되어있는 글자색과 배경색 (덮어씌우기) */
input[type="radio"]:checked+label {
  background: #7992BC;
  color: white;
  font-weight: bold;
  padding-left: 30px;
}


input[id="tab01"]:checked~.con1 {
  display: block;
}

input[id="tab02"]:checked~.con2 {
  display: block;
}

/* ------------------탭박스 끝---------------------- */
/* ----== 껍데기 wrapper ==------ */
.board_wrapper {
  background-color: #F1FAFF;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.board_wrapper.title {
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.board_wrapper.content {
  padding: 30px;
}


#frm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #7992BC;
  display: flex;
  flex-direction: column;
  /* font-size: 12px; */
  padding: 20px;
  position: relative;
  border-radius: 10px;
  gap: 10px;
}

/* ----== 껍데기 wrapper ==------ */


/* ------게시판 선택------- */

.form-select {
  border: none;
  padding: 10px;
  font-size: 12pt;
  font-weight: bold;
  background-color: #F1FAFF;
  cursor: pointer;
  
}

/* ------게시판 선택  끝------- */

/* ------게시판 제목--------- */

#title {
  background-color: #F1FAFF;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  padding: 3px 20px 7px 10px;
  font-size: 12pt;
  font-weight: bold;
}

/* ------게시판 제목  끝--------- */

/* ------게시판 버튼 --------- */

#btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  
}

.btn {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 12pt;
  background-color: #2c4d8a;
  transition: background-color 0.3s;
  box-shadow: 30px, grey;
}

.btn:hover {
  background-color: #365899;
  cursor: pointer;
}

/* ------게시판 버튼 끝--------- */

/* ------게시판 내용 시작--------- */

#bContent{
  background-color: #F1FAFF;
  padding: 5px;
  width: 100%;
  height: 400px;
  resize: none;
  border: none;
  border-radius: 10px;
  overflow: auto;
}

/* ------게시판 내용 끝--------- */

/* --- 검색창 끝 --- */

.board_footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 5px;
}

/* -----테이블 시작-------- */

/* --- 테이블 종료 --- */

