body {
  height: 100%;
  /*전체 높이를 100%로 설정 */
  margin: 0;
  padding: 0;
}

section {
  background-image: url('/img/main.jpg');
  background-size: cover;
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  /*뷰포트의 높이에서 푸터 높이를 빼서 설정 */
}


.section_wrap {
  margin-top: 85px;
  width: 400px;
  /* 배경색, 마지막 0.6은 투명도 */
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}


input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.input {
  margin-bottom: 10px;
}

#yourIDisbtn {
  background-color: rgb(100, 149, 237);
  /* margin-bottom: 30px; */
  color: white;
  cursor: pointer;
}

#yourIdis {
  margin-right: 180px;

  /* 하단 버튼과의 간격두기 */
  margin-bottom: 25px;
  font-size: 16px;
}

#memberId {
  font-size: 40px;
  /* 폰트 크기를 24px로 설정 */
  font-weight: bold;
  /* 글자를 굵게 설정 */

}

/* 다시찾기 버튼 */
#searchAgain {
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-size: 13px;
  margin-right: 13px;
  /*왼쪽으로 이동 */
  background: none;
  /* Remove background */
  border: none;
  /* Remove border */
  padding: 0;
  /* Remove padding */
  cursor: pointer;
  /* Ensure it still shows a pointer cursor to indicate clickability */
  margin-top: 30px;
}

/*로그인버튼*/
#login {
  background-color: rgb(100, 149, 237);
  /* margin-bottom: 30px; */
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  /* 버튼 내 폰트 사이즈 설정 */
  padding: 10px 20px;
  /* 버튼의 크기 키우기 */
  margin-left: 15px;
  margin-top: 30px;

}

#searchAgain:hover {
  color: rgb(71, 128, 234);
}